<!DOCTYPE html>
<html lang="{{ .Language }}">
{{ block "head" . }}
  {{ partial "head.html" . }}
{{ end }}
<body>
  <div class="site-wrapper">
    {{ block "header" . }}
      {{ partial "header.html" . }}
    {{ end }}
    <div class="main-content with-sidebar">
      {{ if in (split "ar fa he ug" " ") .Lang }}
        <div class="article-area" dir="auto">
      {{ else }}
        <div class="article-area">
      {{end}}

	  {{ block "main" . }}
	  <h1>Main Content...</h1>
	  {{ end }}

	</div>
        <div class="sidebar">
        {{ block "sidebar" . }}
          <div class="sidebar-widget">
            {{ partial "sidebar-search.html" . }}
          </div>

          <div class="sidebar-widget">
            {{ partial "sidebar-donate.html" . }}
          </div>

          <div class="sidebar-widget">
            {{ partial "sidebar-news.html" . }}
          </div>

          <div class="sidebar-widget">
            {{ partial "sidebar-lastupdated-packages.html" . }}
          </div>

          <div class="sidebar-widget">
            {{ partial "sidebar-latest-packages.html" . }}
          </div>
        {{ end }}
	</div>
    </div>
    {{ block "footer" . }}
      {{ partial "footer.html" . }}
    {{ end }}
  </div>
</body>
</html>
