<i class="post-meta">
  {{ partial "localizeddate" (dict "key" "posts.posted_on" "date" .Date) }}
  {{ with .Params.author }}
    {{ i18n "posts.posted_by" }}
    {{ $author := index $.Site.Data.people $.Params.author }}
    {{ $authorWebsite := default $author.website $.Params.authorwebsite }}
    {{ with $authorWebsite }}
      <a href="{{ . }}">
    {{ end }}
    <img
      src="{{ delimit (slice "assets/" . ".jpg") "" | absURL }}"
      alt="{{ . }}"
      width="40"
    />
    <span
      itemprop="author"
      itemscope itemtype="http://schema.org/Person">
      <span
	itemprop="name">{{ . }}
      </span>
    </span>
    {{ with $authorWebsite }}
      </a>
    {{ end }}
  {{ end }}
</i>
