{{- $string := "posts.this_week_in_fdroid" -}}

{{- /* Calculate the ISO week number and year, as that function is not available in Hugo. The Golang function returns two values, which is apparently not supported in Go templates, nor in Hugo. */ -}}

{{- /* This whole thing is also pretty dumb and laborious. It takes the bulldozer approach to the problem, and in doing so, avoids the problem of variables going out of scope outside of if statements, and the fact that you can't write your own functions. */ -}}

{{- $date := $.Page.Date -}}
{{- $y  := $date.Year -}} {{- /* Current Year */ -}}
{{- $ly := sub $y 1 -}}   {{- /* Last Year    */ -}}
{{- $ny := add $y 1 -}}   {{- /* Next Year    */ -}}

{{- $thursday := 4 -}} {{- /* And Sunday = 0 here and in the next 4 lines */ -}}
{{- $dow0101ly := (time (printf "%d-01-01" $ly)).YearDay -}} {{- /* Day of the week on the first day of *last* year. */ -}}
{{- $dow1231ly := (time (printf "%d-12-31" $ly)).YearDay -}} {{- /* Day of the week on the last day of *last* year */ -}}
{{- $dow0101 := (time (printf "%d-01-01" $y)).YearDay -}} {{- /* Day of the week on the first day of this year */ -}}
{{- $dow1231 := (time (printf "%d-12-31" $y)).YearDay -}} {{- /* Day of the week on the last day of this year */ -}}
{{- $doy := $date.YearDay -}} {{- /* Current day of the year, starting at 1 for Jan 1 */ -}}
{{- $dow := mod (add $date.Weekday 6) 7 -}} {{- /* Current day of the week. 0 = Monday! Because ISO weeks start on Mondays. */ -}}

{{- $w := div (sub $doy $dow | add 9) 7 -}} {{- /* Calculate the week number */ -}}

{{- /* If we are near the beginning or the end of the year, we have to do some extra checks. In particular, we take advantage of the fact that an ISO year has 53 weeks if, and only if, the year begins and/or ends on a Thursday. */ -}}

{{- if lt $w 1 -}}
  {{- if (eq $dow0101ly $thursday) | or (eq $dow1231ly $thursday) -}}
    <p>{{- i18n $string (dict "edition" $.Page.Params.edition "week" 53 "year" $ly) | markdownify -}}</p>
  {{- else -}}
    <p>{{- i18n $string (dict "edition" $.Page.Params.edition "week" 52 "year" $ly) | markdownify -}}</p>
  {{- end -}}
{{- else if gt $w 52 -}}
  {{- if (eq $dow0101 $thursday) | or (eq $dow1231 $thursday) -}}
    <p>{{- i18n $string (dict "edition" $.Page.Params.edition "week" 53 "year" $y) | markdownify -}}</p>
  {{- else -}}
    <p>{{- i18n $string (dict "edition" $.Page.Params.edition "week" 1 "year" $ny) | markdownify -}}</p>
  {{- end -}}
{{- else -}}
  <p>{{- i18n $string (dict "edition" $.Page.Params.edition "week" $w "year" $y) | markdownify -}}</p>
{{- end -}}
